@import 'lib';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: mat-color($mat-grey, 100);
  font-family: $mat-font-family;
  font-size: 14px;

}

.app-container {
  .mat-icon {
    max-width: 100%;
    svg { max-width: 100%; }
  }

  a {
    text-decoration: none;
  }

  .simple-notification-wrapper {
    width: 500px;

    .simple-notification {
      padding: 15px 20px 10px 20px;
    }
  }

}

.mde-popover-panel {

  .mde-popover-direction-arrow {
    top: -5px !important;
    border: none !important;
    width: 10px !important;
    height: 10px !important;
    transform: rotate(45deg);
    background: white;
  }

  .mde-popover-content {
    padding: 25px !important;
    background: white;
    box-shadow: 0px 0px 14px 5px rgba(179,179,179,0.61);

    .services-popover-content {
      display: block;
      max-width: 300px;
      ul {
        display: flex;
        flex-flow: row wrap;
        width: 100%;

        li {
          width: 100px;
          max-width: 100px;
          flex: 1;
          text-align: center;

          a {
            text-decoration: none;
            color: $black-87-opacity;

            .mat-icon svg {
              @include size(25px);
            }

            span {
              display: block;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}