<ma-sc5-table-selected-rows *ngIf="selection.selected.length > 0 || isTotal" [items]="selection.selected.length" [totalCount]="dataSource.total"
  [isTotal]="isTotal">

  <button (click)="showDetails()">
    <mat-icon>info</mat-icon>
  </button>
  <button (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</ma-sc5-table-selected-rows>

<ma-sc5-table-wrapper [header]="'home.userList.header'" [dataSource]="dataSource" [columns]="columns" [totalCount]="dataSource.total"
  (columnDisplayChange)="setColumns($event)" (selectionChange)="onSelectionChange($event)" matSort matSortDisableClear>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header="id">
      {{ "ma.sc5.tableWrapper.header.column.id" | translate }}

    </mat-header-cell>

    <mat-cell *matCellDef="let element">
      <button mat-button (click)="showDetails(element)">
          {{ element.id }}
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <mat-header-cell *matHeaderCellDef>
      {{ "ma.sc5.tableWrapper.header.column.firstname" | translate }}

    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <mat-header-cell *matHeaderCellDef>
      {{ "ma.sc5.tableWrapper.header.column.lastname" | translate }}

    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header="status">
      {{ "ma.sc5.tableWrapper.header.column.status" | translate }}

    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ "ma.sc5.common.status." + element.status | translate }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</ma-sc5-table-wrapper>

<ma-sc5-details-panel [headerTitle]="'Edytuj element'">
  <ng-container *ngIf="selectedUser">
    <ma-sc5-user-details [user]="selectedUser"></ma-sc5-user-details>
  </ng-container>
</ma-sc5-details-panel>
